<h1>admin maintain section</h1>
<hr>

<%= link_to "Artists", controller: "artists", action: "new" %>
<br>
<%= link_to "News", controller: "news", action: "new" %>
<br>
<%= link_to "Merch", controller: "merchitems", action: "new" %>
