<h1>admin maintain section</h1>


<%= link_to "Artists", controller: "artists", action: "new" %>
<br>
<%= link_to "News", controller: "news", action: "new" %>
<br>
<%= link_to "Artists", controller: "merchitems", action: "new" %>

