/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
	background-color: black;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	background-size: 120%;
	margin-bottom: 10%;
	background-image: url('/assets/background/DSC_0452.jpg');
}

.login-form {
	margin-left: 100%;
	margin-top: 20%;
	width: 450px;
	border: 1px solid black;
	background-color: #424f59;
}

.login-form ul {
	list-style-type: none;
	padding-bottom: 50%;
	padding-top: 30%;
}

.login-form ul li {
	text-decoration: none;
	font-size: 50px;
	
}