          <div id="horizontal-wrapper"></div>
          
          <ul id="content-wrapper">
          <h1>NEWS</h1>
            <li>
              <div id="imagefield">
                <img src="../Pictures/Artists/Photographers/Ivan Ganchev/danio.jpg" alt="">
              </div>
              <div id="textfield">
                <i>Ivan Ganchev's Contemporary Arts Photography Ivan Ganchev's Contemporary Arts Photography Ivan Ganchev's Contemporary Arts Photography Ivan Ganchev's Contemporary Arts Photography Ivan Ganchev's Contemporary Arts Photography </i>
              </div>
              <a href="" id="learn-more">learn more</a>
            </li>
            <li>
              <div id="imagefield">
                <img src="../Pictures/Events/untitled-190414-3.jpg" alt="">
              </div>
              <div id="textfield">
                <i>Doubt For Endless Immersion co-photography with Ivan Ganchev Doubt For Endless Immersion co-photography with Ivan Ganchev Doubt For Endless Immersion co-photography with Ivan Ganchev Doubt For Endless Immersion co-photography with Ivan Ganchev </i>
              </div>
              <a href="" id="learn-more">learn more</a>
            </li>
            <li>
              <div id="imagefield">
                <img src="../Pictures/Events/IMG_20160807_175831.jpg" alt="">
              </div>
              <div id="textfield">
                <i>Old Photography Old Photography Old Photography Old Photography Old Photography Old Photography Old Photography Old Photography Old Photography Old Photography Old Photography Old Photography Old Photography Old Photography Old Photography Old Photography Old Photography Old Photography Old Photography </i>
              </div>
              <a href="" id="learn-more">learn more</a>
            </li>
            <li>
              <div id="imagefield">
                <img src="../Pictures/Artists/Photographers/Ivan Ganchev/danio.jpg" alt="">
              </div>
              <div id="textfield">
                <i>Ivan Ganchev's Contemporary Arts Photography Ivan Ganchev's Contemporary Arts Photography Ivan Ganchev's Contemporary Arts Photography Ivan Ganchev's Contemporary Arts Photography Ivan Ganchev's Contemporary Arts Photography </i>
              </div>
              <a href="" id="learn-more">learn more</a>
            </li>
            <li>
              <div id="imagefield">
                <img src="../Pictures/Artists/Photographers/Ivan Ganchev/danio.jpg" alt="">
              </div>
              <div id="textfield">
                <i>Ivan Ganchev's Contemporary Arts Photography Ivan Ganchev's Contemporary Arts Photography Ivan Ganchev's Contemporary Arts Photography Ivan Ganchev's Contemporary Arts Photography Ivan Ganchev's Contemporary Arts Photography </i>
              </div>
              <a href="" id="learn-more">learn more</a>
            </li>

          </ul>
          

          <h1>Merch</h1>
          <div id="merch-wrapper">
            <div id="left-side">
              <div id="merch1">
                <h2>Pain | Cnyll</h2>
                <img src="../Pictures/Events/artworks-000204363405-o7cm8s-t500x500.jpg" alt="">
              </div>
              <div id="merch2">
                <h2>Arcs</h2>
                <img src="../Pictures/Events/untitled-2.jpg" alt="">
              </div>
              <div id="merch3">
                <!-- <h2>Arcs</h2> -->
                <img src="" alt="">
              </div>
            </div>
            <div id="right-side">
              <div id="merch1">
                <h2>Torn | Island Man</h2>
                <img src="../Pictures/Events/Untitled.png" alt="">
              </div>
              <div id="merch2">
                <h2>Село Бъдеще | Island Man</h2>
                <img src="../Pictures/Events/618x346.jpg" alt="">
              </div>
              <div id="merch3">
                <!-- <h2>Arcs</h2> -->
                <img src="" alt="">
              </div>
            </div>
          </div>