// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#content-wrapper {
	list-style-type: none;
	border: 2px dotted blue;
	height: 45%;
}

#content-wrapper li{
	position: relative;
	overflow: hidden;
	background-color: #070707;
	height: 150px;
	width: 95%;
	margin-top: 20px;
}

#content-wrapper li img {
	max-width: 100%;
	max-height: 100%;
}


#imagefield {
	position:relative;
	float:left;
	/*background-color: green;*/
	/*border: 2px dotted green;*/
	height: 100%;
	width: 25%;
}

#textfield {
	/*float:right;*/
	/*overflow: hidden;*/
	position: relative;
	/*border: 2px dotted red;*/
	width: 75%;
	height: 80%;
	margin-top: 10px;
	margin-left: 25%;
}

#textfield i {
	color: white;
}

#learn-more {
	position: relative;
	color: white;
	text-transform: uppercase;
	margin: 0 auto;
	text-decoration: none;
}

#merch-wrapper {
	border: 2px dotted red;
	position: relative;
	margin: 0 auto;
	height: 42%;
	width: 90%;
	/*overflow: hidden;*/
}

#merch-wrapper h2 {
	color: white;
	text-align: center;
}

#left-side, #right-side {
	height: 100%;
	width: 47.5%
}

#left-side {
	position: absolute;
	border: 2px dotted green;
}

#right-side {
	position: absolute;
	border: 2px dotted green;
	margin-left: 52%;
}


#merch1, #merch2, #merch3 {
	/*border: 2px dotted yellow;*/
	position: relative;
	width: 100%;
	height: 30%;
	/*background-color: #090909;*/
	overflow: hidden;
	display: inline-block;
	text-align: center;
	border-top: 2px dotted #282828;
	/*border-bottom: 2px dotted #282828;*/
}

#merch1:hover, #merch2:hover, #merch3:hover {
	opacity: 0.5;
}

#merch1 img, #merch2 img, #merch3 img {
	max-height: 80%;
	max-width: 80%;
	
}

#merch1, #merch2 {
	margin-bottom: 12%;
}
