// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#content-wrapper {
	/*border: 2px dotted blue;*/
	list-style-type: none;
	height: 45%;
	border-bottom: 2px dashed gray;
}

#content-wrapper li{
	position: relative;
	overflow: hidden;
	background-color: #070707;
	height: 150px;
	width: 95%;
	margin-top: 20px;
}

#content-wrapper li img {
	max-width: 100%;
	max-height: 100%;
}


#imagefield {
	position:relative;
	float:left;
	/*background-color: green;*/
	/*border: 2px dotted green;*/
	height: 100%;
	width: 25%;
}

#textfield {
	/*float:right;*/
	/*overflow: hidden;*/
	position: relative;
	/*border: 2px dotted red;*/
	width: 75%;
	height: 80%;
	margin-top: 10px;
	margin-left: 25%;
}

#textfield i {
	color: white;
}

#learn-more {
	position: relative;
	color: white;
	text-transform: uppercase;
	margin: 0 auto;
	text-decoration: none;
}

#merch-wrapper {
	/*border: 2px dotted red;*/
	position: relative;
	margin: 0 auto;
	height: 42%;
	width: 90%;
	/*overflow: hidden;*/
}

#merch-wrapper h2 {
	color: white;
	text-align: center;
}

/*#left-side, #right-side {
	height: 100%;
	width: 47.5%
}*/

/*#left-side {
	border: 2px dotted green;
	position: absolute;
}

#right-side {
	border: 2px dotted green;
	position: absolute;
	margin-left: 52%;
}*/
